<!-- Loop over each object in the Appointment array -->
{{#each appointments as |appointment| }}

  <div class="col-sm-6 appointment">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          <!-- Call helper function with triple brackets to render the emoji span as HTML -->
          {{{get_emoji}}}
          <a href="/appointment/{{appointment.id}}">{{appointment.name}}</a>
        </h2>
        <p class="card-text">
          <span for="img" aria-label="money">💲</span>
          <!-- Pass needed_funding value to the helper function -->
          <span class="dollar-amount">{{format_amount appointment.needed_funding}}</span>
          needed!
        </p>
        <p>Created by {{appointment.user.name}} on {{format_date appointment.date_created}}</p>
      </div>
    </div>

  <div class="col-md-7">
    <p>
      {{appointment.description}}
    </p>
  </div>
</div>
{{/each}}